<section class="row clearfix">

    <div class="col s-full big">
        <h2>Maximise Your Protection</h2>

        <div class="row clearfix">
            <div class="col s-full m-8 l-8 configure-your-protection">
                <p>By using this application you can calculate the level of protection offered from different
                    combinations of ArcoPro garments.</p>
            </div>
            <div class="col s-full m-4 l-4">
                <a ui-sref="products" class="button-begin">
            <span>
              <strong>Begin</strong>
              Configure your protection
            </span>
                    <i class="icon-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>

</section>

<section class="row clearfix">

    <div class="col s-full">
        <h2>What is ArcoPro?</h2>

        <div class="row clearfix">
            <div class="col s-full m-8 l-8 what-is-arco">
                <p>ArcoPro is a new range of flame resistant clothing which offers multi-norm protection. Tested and
                    proven in the most dangerous working environments, it is the culmination of 130 years of
                    expertise and innovation from the UK's leading provider of safety equipment.</p>
            </div>
            <div class="col s-full m-4 l-4">
                <a fancybox ng-click="openFancybox('https://vimeo.com/99539825')"
                   class="button replay-btn video-link"><i
                        class="icon-play"></i><span class="button-text">Play video</span></a>
            </div>
        </div>
    </div>

</section>

<section class="row clearfix">
    <div class="col s-full l-6 three-tier-system">
        <div class="row">
            <div class="col s-full m-4 m-push-8 l-push-0 image">
                <img src="images/3-tier.jpg" alt="3-Tier Layering system">
            </div>
            <div class="col s-full m-8 m-pull-4 l-pull-0 text">
                <h2>3-Tier System</h2>

                <p>ArcoPro employs a unique three tier laying system to maximise protection. The system is made up
                    of a base layer, mid layer and outer layer. This system dramatically increases the time between
                    the wearer feeling pain and receiving second degree burns. We call this 'response time'.</p>
            </div>
        </div>
    </div>
    <div class="col s-full l-6 comprehensive-testing">
        <div class="row">
            <div class="col s-full m-4 m-push-8 l-push-0 image">
                <img src="images/comprehensive-testing.jpg" alt="Comprehensive Testing">
            </div>
            <div class="col s-full m-8 m-pull-4 l-pull-0 text">
                <h2>Comprehensive Testing</h2>

                <p>ArcoPro goes through extremely stringent testing against EN and ISO standards in order to comply
                    with Category three of the European PPE directive.</p>
                <a fancybox ng-click="openFancybox('https://www.youtube.com/embed?v=CyX8FfSKg04')"
                   class="button button__small video-link"><i
                        class="icon-play"></i><span>Watch Video</span></a>
            </div>
        </div>
    </div>
</section>