<nav class="menu clearfix">
    <a id="button-continue" ng-click="menu.next($event)" ng-class="{ 'inactive': noFinalResults }" ng-hide="menu.wizard.complete()">
        <i class="icon-arrow-right"></i>
    <span>
      <strong>Continue</strong>
      Next step
    </span>
    </a>
    <a id="button-restart" ng-click="menu.restart()">
        <i class="icon-history"></i>
    <span>
      <strong>Restart</strong>
      Return to start
    </span>
    </a>
    <a id="button-skip" ng-click="menu.skip($event)" ng-class="{ 'inactive': noFinalResults }" ng-hide="menu.wizard.complete()">
        <i class="icon-last"></i>
    <span>
      <strong>Skip</strong>
      Don't add {{ menu.wizard.selection.currentLayer }} layer
    </span>
    </a>
</nav>