<li class="product p{{ m.code }}"
    ng-class="{ 'base': m.base === 'true', 'mid': m.mid === 'true', 'outer': m.outer === 'true' }"
    ng-repeat="m in media" on-finish-render="init()"
    slide-select
    product="{{ m.code }}"
    data-product="{{ m.code }}">
    <a href>
        <img ng-src="images/products/thumbs/{{ m.code }}_thumb.jpg" alt=""/>
        <span ng-bind-html="m.name"></span>
    </a>
</li>