<div class="loading" ng-show="products.loading">Loading&#8230;</div>

<div ng-hide="products.loading">

    <div class="row clearfix">
        <div class="col s-full">
            <ul class="carousel"
                slick
                media="products.allProducts"
                settings="products.slickConfig"
                control="carouselHandler"
                src="app/selector/product-slide.html"
                on-directive-init="products.onCarouselInit()">
            </ul>
        </div>
    </div>

    <div class="row clearfix">

        <div class="col s-full m-7 m-push-5 l-7 l-push-5">

            <div class="product-images" ng-class="products.productCountClass">
                <img ng-src="images/products/{{ products.selection.base.code }}.png" alt="" ng-if="products.selection.base">
                <img ng-src="images/products/{{ products.selection.mid.code }}.png" alt="" ng-if="products.selection.mid">
                <img ng-src="images/products/{{ products.selection.outer.code }}.png" alt="" ng-if="products.selection.outer">
            </div>

        </div>

        <div class="col s-full m-5 m-pull-7 l-5 l-pull-7 results-column">

            <div class="product-info">
                <h2 ng-bind-html="products.current.name"></h2>

                <p ng-bind-html="products.current.description"></p>
            </div>

            <div class="results clearfix">
                <h2>Single Product Results <span class="seconds">(Seconds)</span></h2>

                <div class="stat pain">
                    <div class="label">Pain</div><div class="result" ng-bind="products.single.pain | number:2"></div>
                </div>
                <div class="stat diff">
                    <div class="label">Response Time</div><div class="result" ng-show="products.single">(<span ng-bind="products.single.diff | number:2"></span>)</div>
                </div>
                <div class="stat burn">
                    <div class="label">Burn</div><div class="result" ng-bind="products.single.burn | number:2"></div>
                </div>
            </div>

            <div class="results results__combination clearfix" ng-show="products.productCount > 1 && products.combined">
                <h2>Layered Results <span class="seconds">(Seconds)</span></h2>

                <div class="stat pain">
                    <div class="label">Pain</div><div class="result" ng-bind="products.combined.pain | number:2"></div>
                </div>
                <div class="stat diff">
                    <div class="label">Response Time</div><div class="result" ng-show="products.combined">(<span ng-bind="products.combined.diff | number:2"></span>)</div>
                </div>
                <div class="stat burn">
                    <div class="label">Burn</div><div class="result" ng-bind="products.combined.burn | number:2"></div>
                </div>
            </div>

            <div id="debug-no-results" ng-show="noFinalResults">
                <p>No test results for this combination.<br>
                Please select another layer and try again.</p>
            </div>
        </div>

    </div>
</div>