<div class="row clearfix">

    <div class="col s-full">

        <div class="product-images__summary" ng-class="results.productCountClass">
            <img ng-src="images/products/{{ results.selection.base.code }}.png" alt="" ng-if="results.selection.base">
            <img ng-src="images/products/{{ results.selection.mid.code }}.png" alt="" ng-if="results.selection.mid">
            <img ng-src="images/products/{{ results.selection.outer.code }}.png" alt="" ng-if="results.selection.outer">
        </div>

    </div>

</div>

<div class="row clearfix">
    <div class="col s-full l-10 m-centered">

        <div class="results results__combination__big clearfix">
            <h2>Layered Results <span class="seconds">(Seconds)</span></h2>

            <div class="stat pain">
                <div class="label">Pain</div>
                <div class="result" ng-bind="results.combined.pain | number:2"></div>
            </div>
            <div class="stat diff">
                <div class="label">Response Time</div>
                <div class="result" ng-show="results.combined">(<span ng-bind="results.combined.diff | number:2"></span>)
                </div>
            </div>
            <div class="stat burn">
                <div class="label">Burn</div>
                <div class="result" ng-bind="results.combined.burn | number:2"></div>
            </div>
        </div>

        <div class="row clearfix buy-now">

            <a href="http://www.arco.co.uk/textsearch?sd=ArcoPro&fq=brand:ArcoPro&catid=-8690" target="_blank"
               class="button"><i class="icon-cart"></i><span>Buy now from our ArcoPro range</span></a>

        </div>

        <h2>Add even more protection</h2>

        <div class="row">
            <div class="col s-full m-6">
                <a href="http://www.arco.co.uk/textsearch?event=textsearch&fromsearch=x&searchTerms=18B2600&eSearch=Products"
                   target="_blank">
                    <div class="banner">
                        <img src="images/balaclava.png" alt="">

                        <h3>ArcoPro® Flame Retardant Balaclava</h3>
                        <span class="product-code">18B2600</span>
                    </div>
                </a>
            </div>
            <div class="col s-full m-6">
                <a href="http://www.arco.co.uk/textsearch?event=textsearch&fromsearchandisnew=x&fromsearch=x&searchTerms=18B2500&eSearch=Products"
                   target="_blank">
                    <div class="banner">
                        <img src="images/neck-tube.png" alt="">

                        <h3>ArcoPro® Flame Retardant Neck Tube</h3>
                        <span class="product-code">18B2500</span>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>