@charset "UTF-8";
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: .5;
    -webkit-transform: translate(100%, 20%);
            transform: translate(100%, 20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: .5;
    -webkit-transform: translate(100%, 20%);
            transform: translate(100%, 20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

@font-face {
  font-family: 'ds-digitalitalic';
  src: url("../fonts/ds-digii-webfont.eot");
  src: url("../fonts/ds-digii-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ds-digii-webfont.woff2") format("woff2"), url("../fonts/ds-digii-webfont.woff") format("woff"), url("../fonts/ds-digii-webfont.ttf") format("truetype"), url("../fonts/ds-digii-webfont.svg#ds-digitalitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 976px;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}
.row:before, .row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  position: relative;
  float: left;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.s-full {
  width: 100%;
}

.s-half {
  width: 50%;
}

.s-centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .m-1 {
    width: 8.33333%;
  }

  .m-2 {
    width: 16.66667%;
  }

  .m-3 {
    width: 25%;
  }

  .m-4 {
    width: 33.33333%;
  }

  .m-5 {
    width: 41.66667%;
  }

  .m-6 {
    width: 50%;
  }

  .m-7 {
    width: 58.33333%;
  }

  .m-8 {
    width: 66.66667%;
  }

  .m-9 {
    width: 75%;
  }

  .m-10 {
    width: 83.33333%;
  }

  .m-11 {
    width: 91.66667%;
  }

  .m-full {
    width: 100%;
  }

  .m-offset-0 {
    margin-left: 0%;
  }

  .m-offset-1 {
    margin-left: 8.33333%;
  }

  .m-offset-2 {
    margin-left: 16.66667%;
  }

  .m-offset-3 {
    margin-left: 25%;
  }

  .m-offset-4 {
    margin-left: 33.33333%;
  }

  .m-offset-5 {
    margin-left: 41.66667%;
  }

  .m-offset-6 {
    margin-left: 50%;
  }

  .m-offset-7 {
    margin-left: 58.33333%;
  }

  .m-offset-8 {
    margin-left: 66.66667%;
  }

  .m-offset-9 {
    margin-left: 75%;
  }

  .m-offset-10 {
    margin-left: 83.33333%;
  }

  .m-offset-11 {
    margin-left: 91.66667%;
  }

  .m-push-0 {
    left: 0%;
  }

  .m-push-1 {
    left: 8.33333%;
  }

  .m-push-2 {
    left: 16.66667%;
  }

  .m-push-3 {
    left: 25%;
  }

  .m-push-4 {
    left: 33.33333%;
  }

  .m-push-5 {
    left: 41.66667%;
  }

  .m-push-6 {
    left: 50%;
  }

  .m-push-7 {
    left: 58.33333%;
  }

  .m-push-8 {
    left: 66.66667%;
  }

  .m-push-9 {
    left: 75%;
  }

  .m-push-10 {
    left: 83.33333%;
  }

  .m-push-11 {
    left: 91.66667%;
  }

  .m-pull-0 {
    right: 0%;
  }

  .m-pull-1 {
    right: 8.33333%;
  }

  .m-pull-2 {
    right: 16.66667%;
  }

  .m-pull-3 {
    right: 25%;
  }

  .m-pull-4 {
    right: 33.33333%;
  }

  .m-pull-5 {
    right: 41.66667%;
  }

  .m-pull-6 {
    right: 50%;
  }

  .m-pull-7 {
    right: 58.33333%;
  }

  .m-pull-8 {
    right: 66.66667%;
  }

  .m-pull-9 {
    right: 75%;
  }

  .m-pull-10 {
    right: 83.33333%;
  }

  .m-pull-11 {
    right: 91.66667%;
  }

  .m-pull-12 {
    right: 100%;
  }

  .m-centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .m-uncentered {
    float: inherit;
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (min-width: 976px) {
  .l-1 {
    width: 8.33333%;
  }

  .l-2 {
    width: 16.66667%;
  }

  .l-3 {
    width: 25%;
  }

  .l-4 {
    width: 33.33333%;
  }

  .l-5 {
    width: 41.66667%;
  }

  .l-6 {
    width: 50%;
  }

  .l-7 {
    width: 58.33333%;
  }

  .l-8 {
    width: 66.66667%;
  }

  .l-9 {
    width: 75%;
  }

  .l-10 {
    width: 83.33333%;
  }

  .l-11 {
    width: 91.66667%;
  }

  .l-full {
    width: 100%;
  }

  .l-offset-0 {
    margin-left: 0%;
  }

  .l-offset-1 {
    margin-left: 8.33333%;
  }

  .l-offset-2 {
    margin-left: 16.66667%;
  }

  .l-offset-3 {
    margin-left: 25%;
  }

  .l-offset-4 {
    margin-left: 33.33333%;
  }

  .l-offset-5 {
    margin-left: 41.66667%;
  }

  .l-offset-6 {
    margin-left: 50%;
  }

  .l-offset-7 {
    margin-left: 58.33333%;
  }

  .l-offset-8 {
    margin-left: 66.66667%;
  }

  .l-offset-9 {
    margin-left: 75%;
  }

  .l-offset-10 {
    margin-left: 83.33333%;
  }

  .l-offset-11 {
    margin-left: 91.66667%;
  }

  .l-push-0 {
    left: 0%;
  }

  .l-push-1 {
    left: 8.33333%;
  }

  .l-push-2 {
    left: 16.66667%;
  }

  .l-push-3 {
    left: 25%;
  }

  .l-push-4 {
    left: 33.33333%;
  }

  .l-push-5 {
    left: 41.66667%;
  }

  .l-push-6 {
    left: 50%;
  }

  .l-push-7 {
    left: 58.33333%;
  }

  .l-push-8 {
    left: 66.66667%;
  }

  .l-push-9 {
    left: 75%;
  }

  .l-push-10 {
    left: 83.33333%;
  }

  .l-push-11 {
    left: 91.66667%;
  }

  .l-pull-0 {
    right: 0%;
  }

  .l-pull-1 {
    right: 8.33333%;
  }

  .l-pull-2 {
    right: 16.66667%;
  }

  .l-pull-3 {
    right: 25%;
  }

  .l-pull-4 {
    right: 33.33333%;
  }

  .l-pull-5 {
    right: 41.66667%;
  }

  .l-pull-6 {
    right: 50%;
  }

  .l-pull-7 {
    right: 58.33333%;
  }

  .l-pull-8 {
    right: 66.66667%;
  }

  .l-pull-9 {
    right: 75%;
  }

  .l-pull-10 {
    right: 83.33333%;
  }

  .l-pull-11 {
    right: 91.66667%;
  }

  .l-pull-12 {
    right: 100%;
  }

  .l-centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .l-uncentered {
    float: inherit;
    margin-left: 0;
    margin-right: 0;
  }
}
.s-only {
  display: block;
}
@media only screen and (min-width: 768px) {
  .s-only {
    display: none;
  }
}

.m-only {
  display: none;
}
@media only screen and (min-width: 768px) {
  .m-only {
    display: block;
  }
}

.l-only {
  display: none;
}
@media only screen and (min-width: 976px) {
  .l-only {
    display: block;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot?dxifc1");
  src: url("../fonts/icons.eot?#iefixdxifc1") format("embedded-opentype"), url("../fonts/icons.woff?dxifc1") format("woff"), url("../fonts/icons.ttf?dxifc1") format("truetype"), url("../fonts/icons.svg?dxifc1#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"], [class$="Icn"], [class$="Icon"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cog:before {
  content: "\e604";
}

.icon-cart:before {
  content: "\e600";
}

.icon-statistics:before {
  content: "\e601";
}

.icon-graph:before {
  content: "\e602";
}

.icon-history:before {
  content: "\e603";
}

.icon-play:before {
  content: "\e605";
}

.icon-pause:before {
  content: "\e606";
}

.icon-stop:before {
  content: "\e607";
}

.icon-first:before {
  content: "\3c";
}

.icon-last:before {
  content: "\3e";
}

.icon-arrow-left:before {
  content: "\ab";
}

.icon-arrow-right:before {
  content: "\bb";
}

.icon-twitter:before {
  content: "\e608";
}

.icon-facebook2:before {
  content: "\e60a";
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -17px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -17px;
}
.slick-prev:before {
  content: "«";
}
[dir="rtl"] .slick-prev:before {
  content: "»";
}

.slick-next {
  right: -17px;
}
[dir="rtl"] .slick-next {
  left: -17px;
  right: auto;
}
.slick-next:before {
  content: "»";
}
[dir="rtl"] .slick-next:before {
  content: "«";
}

/* Dots */
.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: 10px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 0 4px;
  padding: 0 !important;
  cursor: pointer;
  overflow: hidden;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 10px;
  width: 10px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 10px;
  height: 10px;
  font-family: "slick";
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  background-color: white;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 50%;
}
.slick-dots li.slick-active button:before {
  color: white;
  opacity: 1;
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../images/fancybox_loading.gif") center center no-repeat;
}

.fancybox-close {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 28px;
  height: 28px;
  cursor: pointer;
  z-index: 8040;
  background: url("../images/icon-close.svg") center center no-repeat;
  border-bottom: none;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background-color: rgba(0, 0, 0, 0.9);
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

/* Title helper */
html,
button,
input,
select,
textarea {
  color: #000;
}

::-moz-selection {
  color: #000;
  background: #fff;
  text-shadow: none;
}

::selection, ::-webkit-selection {
  color: #000;
  background: #fff;
  text-shadow: none;
}

img, video {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background: #000;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.3;
  letter-spacing: 0.016125em;
  background: #000 url("../images/bg.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a, a:visited {
  color: #919191;
  text-decoration: none;
  -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
}

a:hover {
  color: #fff;
}

a:active {
  opacity: .7;
}

a[href^=tel] {
  text-decoration: none;
}

strong {
  font-weight: 700;
}

h1, h2, h3, h4 {
  color: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 20px;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child {
  margin-top: 0;
}

h1 {
  display: block;
  font-size: 257.142857142857%;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
  margin-bottom: 0;
}

h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  margin-bottom: 15px;
  font-size: 150%;
}

h3 {
  font-size: 100%;
}

.big p {
  font-size: 125%;
}
@media only screen and (min-width: 768px) {
  .big p {
    font-size: 190%;
  }
}

.small p {
  font-size: 85.714285714286%;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

.fixed {
  position: absolute;
  z-index: 6;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .fixed {
    position: fixed;
  }
}

.intro-video {
  position: relative;
  width: 100%;
  text-align: center;
}
.intro-video video {
  display: none;
  position: relative;
  width: 100%;
  z-index: 4;
}
@media only screen and (min-width: 768px) {
  .intro-video video {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .intro-video img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 3;
  }
}
.intro-video video.playing {
  cursor: url("../images/pause-cursor.png"), auto;
}
.intro-video .replay-btn {
  display: none;
  font-size: 87.5%;
  padding: 15px 12px;
  z-index: 5;
}
@media only screen and (min-width: 768px) {
  .intro-video .replay-btn {
    display: inline-block;
    position: absolute;
    top: 68%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 100%;
    padding: 14px;
    margin: 0;
  }
}

.logos {
  padding-top: 20px;
  margin-bottom: 20px;
  text-align: right;
}
.logos img {
  display: inline-block;
  vertical-align: middle;
}
.logos .logos--arco {
  width: 128px;
}
@media only screen and (min-width: 768px) {
  .logos .logos--arco {
    display: inline-block;
    width: 171px;
  }
}
.logos .logos--cat3 {
  position: relative;
  top: 3px;
  width: 50px;
}
@media only screen and (min-width: 768px) {
  .logos .logos--cat3 {
    width: 67px;
  }
}

.centered {
  text-align: center;
}

figure {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.button, .button:visited {
  display: inline-block;
  vertical-align: middle;
  padding: 14px;
  font-size: 150%;
  font-weight: 700;
  color: #fff;
  background-color: #000;
  border-radius: 6px;
  border: 1px solid #fff;
  cursor: pointer;
}
.button [class^="icon-"]:before, .button:visited [class^="icon-"]:before {
  height: 1em;
  width: 1em;
  font-size: 0.875em;
  text-align: center;
  line-height: 1;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
}
.button [class^="icon-"]:first-child:before, .button:visited [class^="icon-"]:first-child:before {
  margin-right: 10px;
}
.button [class^="icon-"]:last-child:before, .button:visited [class^="icon-"]:last-child:before {
  margin-left: 10px;
}
.button:hover, .button:visited:hover {
  border: 1px solid #e84134;
  color: #e84134;
}
.button:hover [class^="icon-"]:before, .button:visited:hover [class^="icon-"]:before {
  border: 2px solid #e84134;
  color: #e84134;
}

.button__right {
  float: right;
}

.button__small {
  padding: 8px 8px 10px 8px;
  font-size: 100%;
}
.button__small [class^="icon-"]:before {
  height: 0.75em;
  width: 0.75em;
  font-size: 0.75em;
  padding: 5px;
  margin-right: 6px;
}

.button__red, .button__red:visited {
  color: #fff;
  background-color: #e84134;
  border: 2px solid #fff;
}
.button__red [class^="icon-"]:before, .button__red:visited [class^="icon-"]:before {
  color: #fff;
  border: 2px solid #fff;
}
.button__red:hover, .button__red:visited:hover {
  border: 2px solid #fff;
  color: #e84134;
  background-color: #000;
}
.button__red:hover [class^="icon-"]:before, .button__red:visited:hover [class^="icon-"]:before {
  border: 2px solid #fff;
  color: #e84134;
}

.configure-your-protection {
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .configure-your-protection {
    margin-bottom: 0;
  }
}

.what-is-arco {
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .what-is-arco {
    margin-bottom: 0;
  }
}

.three-tier-system .image {
  margin-bottom: 20px;
}
.three-tier-system .text {
  margin-bottom: 20px;
}

.comprehensive-testing .image {
  margin-bottom: 20px;
}
.comprehensive-testing .text {
  margin-bottom: 20px;
}

.carousel {
  position: relative;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  overflow: visible;
  background-color: #222;
}
@media only screen and (min-width: 768px) {
  .carousel {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.carousel li {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  padding: 0 10px;
}
.carousel li:first-child {
  margin-left: 0;
}
.carousel img {
  width: 100%;
}
.carousel .slick-prev:before,
.carousel .slick-next:before {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 50%;
  display: block;
  height: 24px;
  width: 24px;
  font-size: 24px;
  text-align: center;
  margin-top: -30px;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
}
.carousel .slick-prev:before.slick-disabled,
.carousel .slick-next:before.slick-disabled {
  opacity: .3;
}
.carousel .slick-prev:before {
  left: 0;
}
.carousel .slick-next:before {
  right: 0;
}
.carousel .product img {
  margin-bottom: 6px;
  background-color: #fff;
}
.carousel .product span {
  display: block;
  margin-top: 6px;
}
.carousel .product.selected {
  color: #fff;
}
.carousel .product.selected a {
  color: #fff;
}
.carousel .product.selected img {
  background-color: #ccc;
  border: 6px solid #f0e500;
}

.product-info {
  margin-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .product-info {
    margin-top: 20px;
  }
}

.results {
  margin-bottom: 30px;
}
.results h2 {
  margin-bottom: 0;
  line-height: 1;
}
.results .stat {
  display: block;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #333;
  font-size: 20px;
  font-weight: 700;
}
.results .stat .label {
  display: inline-block;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .results .stat .label {
    width: 50%;
  }
}
.results .stat .result {
  display: inline-block;
  width: 100%;
  font-family: "ds-digitalitalic", Helvetica, Arial, sans-serif;
}
@media only screen and (min-width: 768px) {
  .results .stat .result {
    width: 50%;
    text-align: right;
  }
}
.results .stat.pain .result {
  color: #f0e500;
}
.results .stat.diff .result {
  color: #919191;
}
.results .stat.burn .result {
  color: #e84134;
}

.results__combination h2 {
  font-size: 200%;
  margin-bottom: 10px;
}

.results__combination__big {
  font-size: 125%;
}
.results__combination__big .stat {
  display: block;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #333;
  font-size: 20px;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .results__combination__big .stat {
    float: left;
    width: 33.333%;
  }
}
.results__combination__big .stat .label {
  display: inline-block;
  width: 50%;
}
@media only screen and (min-width: 768px) {
  .results__combination__big .stat .label {
    width: 100%;
  }
}
.results__combination__big .stat .result {
  display: inline-block;
  width: 50%;
  font-family: "ds-digitalitalic", Helvetica, Arial, sans-serif;
  text-align: right;
}
@media only screen and (min-width: 768px) {
  .results__combination__big .stat .result {
    width: 100%;
    text-align: inherit;
  }
}
@media only screen and (min-width: 768px) {
  .results__combination__big .stat.pain {
    text-align: left;
  }
}
.results__combination__big .stat.pain .result {
  color: #f0e500;
}
@media only screen and (min-width: 768px) {
  .results__combination__big .stat.diff {
    text-align: center;
  }
}
.results__combination__big .stat.diff .result {
  color: #919191;
}
@media only screen and (min-width: 768px) {
  .results__combination__big .stat.burn {
    text-align: right;
  }
}
.results__combination__big .stat.burn .result {
  color: #e84134;
}

.product-images {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
  border-bottom: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(270deg, transparent 25%, rgba(255, 255, 255, 0.3) 100%);
  background-image: linear-gradient(180deg, transparent 25%, rgba(255, 255, 255, 0.3) 100%);
  margin-bottom: 30px;
}
.product-images img {
  position: absolute;
  top: 0;
  max-width: 100%;
  max-height: 100%;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
}

.product-images.one-product img:nth-child(1) {
  left: 0;
  top: 0;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.product-images.two-products img:nth-child(1) {
  left: -10%;
  top: 0;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.product-images.two-products img:nth-child(2) {
  left: 10%;
  top: 0;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.product-images.three-products img:nth-child(1) {
  left: -20%;
  top: 0;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.product-images.three-products img:nth-child(2) {
  left: 0;
  top: 0;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.product-images.three-products img:nth-child(3) {
  left: 20%;
  top: 0;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.product-images__summary {
  position: relative;
  overflow: hidden;
  padding-bottom: 50%;
  border-bottom: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(270deg, transparent 25%, rgba(255, 255, 255, 0.3) 100%);
  background-image: linear-gradient(180deg, transparent 25%, rgba(255, 255, 255, 0.3) 100%);
  margin-bottom: 30px;
}
.product-images__summary img {
  position: absolute;
  top: 0;
  max-width: 100%;
  max-height: 100%;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

.product-images__summary.one-product img:nth-child(1) {
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.product-images__summary.two-products img:nth-child(1) {
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-75%);
      -ms-transform: translateX(-75%);
          transform: translateX(-75%);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.product-images__summary.two-products img:nth-child(2) {
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-25%);
      -ms-transform: translateX(-25%);
          transform: translateX(-25%);
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.product-images__summary.three-products img:nth-child(1) {
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.product-images__summary.three-products img:nth-child(2) {
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.product-images__summary.three-products img:nth-child(3) {
  left: 50%;
  top: 0;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.csstransitions [class^="product-images"] img {
  opacity: 0;
}

@media only screen and (min-width: 768px) {
  .page {
    padding-bottom: 100px;
  }
}

.menu {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.6);
  border-style: solid;
  border-width: 1px 0;
  border-color: rgba(145, 145, 145, 0.3);
  font-size: 75%;
  text-align: right;
}
@media only screen and (min-width: 768px) {
  .menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 100%;
  }
}
.menu a, .menu a:visited {
  display: block;
  padding: 14px;
  font-size: 150%;
  font-weight: 700;
  text-align: left;
  color: #fff;
  background-color: #000;
  border-radius: 0;
  border-style: solid;
  border-color: rgba(145, 145, 145, 0.3);
  border-width: 1px 0 0 0;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .menu a, .menu a:visited {
    display: inline-block;
    vertical-align: middle;
    border-width: 0 0 0 1px;
  }
}
.menu a span, .menu a:visited span {
  display: inline-block;
  vertical-align: middle;
  font-size: 62.5%;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
}
.menu a span strong, .menu a:visited span strong {
  display: block;
  font-size: 150%;
  font-weight: 700;
  color: #fff;
}
.menu a [class^="icon-"]:before, .menu a:visited [class^="icon-"]:before {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
  height: 1em;
  width: 1em;
  font-size: 0.875em;
  text-align: center;
  line-height: 1;
  margin-right: 10px;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
}
.menu a:hover [class^="icon-"]:before, .menu a:visited:hover [class^="icon-"]:before {
  border: 2px solid #e84134;
  color: #e84134;
}
@media only screen and (min-width: 768px) {
  .menu #button-restart {
    float: left;
  }
}
@media only screen and (min-width: 768px) {
  .menu #button-skip {
    width: 230px;
  }
}
.menu #button-continue {
  background-color: #e84134;
}
@media only screen and (min-width: 768px) {
  .menu #button-continue {
    float: right;
  }
}
.menu #button-continue:hover [class^="icon-"]:before {
  color: #000;
  border: 2px solid #000;
}
.menu .inactive {
  opacity: .2;
  cursor: default;
  background-color: #000 !important;
  cursor: not-allowed;
}
.menu .inactive:hover [class^="icon-"]:before {
  border: 2px solid #fff !important;
  color: #fff !important;
}
.menu .icon-history:before {
  padding: 8px 9px 8px 7px !important;
}

.buy-now {
  text-align: center;
  margin-bottom: 40px;
}
.buy-now .product-buy-now {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 40px;
  display: block;
}
@media only screen and (min-width: 768px) {
  .buy-now .product-buy-now {
    display: inline-block;
    width: 28%;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.buy-now .product-buy-now h2 {
  padding-bottom: 0;
  border-bottom: 0;
  margin-bottom: 0;
}

.product-code {
  display: block;
  margin-bottom: 20px;
  color: #999;
}

.seconds {
  font-size: 13px;
  font-weight: 400;
  color: #999;
}

.banner, .banner:visited {
  display: block;
  margin-top: 10px;
  padding: 20px;
  color: #fff;
  background-color: #e84134;
  background: -webkit-linear-gradient(270deg, #e84134 0%, #000 100%);
  background: linear-gradient(180deg, #e84134 0%, #000 100%);
  border-radius: 6px;
  border: 2px solid #fff;
}
.banner h3, .banner:visited h3 {
  margin-bottom: 0;
  display: inline;
  font-size: 125%;
}
.banner .product-code, .banner:visited .product-code {
  color: #fff;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.5;
}
.banner img, .banner:visited img {
  position: relative;
  float: right;
  top: -10px;
  margin-left: 10px;
  max-height: 160px;
}

.button-begin, .button-begin:visited {
  position: relative;
  display: block;
  padding: 14px;
  font-size: 150%;
  font-weight: 700;
  text-align: left;
  color: #fff;
  background-color: #e84134;
  border-radius: 6px;
  border-style: solid;
  border-color: #fff;
  border-width: 1px;
  cursor: pointer;
}
.button-begin span, .button-begin:visited span {
  display: inline-block;
  vertical-align: middle;
  font-size: 62.5%;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
}
.button-begin span strong, .button-begin:visited span strong {
  display: block;
  font-size: 150%;
  font-weight: 700;
  color: #fff;
}
.button-begin [class^="icon-"]:before, .button-begin:visited [class^="icon-"]:before {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -20px;
  font-size: 20px;
  text-align: center;
  line-height: 1;
  margin-left: 10px;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
}
.button-begin:hover [class^="icon-"]:before, .button-begin:visited:hover [class^="icon-"]:before {
  color: #000;
  border: 2px solid #000;
}

#debug-no-results {
  margin-bottom: 30px;
  padding: 15px;
  background-color: #e84134;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
}
